

body {
    font-family: Arial, sans-serif;
    background-image: url("/ERP_System/img/bg.jpg") !important;
    
}

.ListView {
   
    margin: 0 auto;
 
}

.TableHeaderLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.btn {
    margin-left: 5px;
}

.table th {
    text-align: center;
}

.table td {
    vertical-align: middle;
    text-align: center;
}


#searchTerm {
    width: 200px;
}


form {
    display: flex;
    align-items: center;
}